.header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background: black;
    border: 2px;
    text-align: center;
    margin-top: 0px;
    border: black solid 2px;
    padding-top: 0px;
    padding-inline-start: 0px;
}


.header ul a{
    text-decoration: none;
}

h1{
    font-size: 80px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    color: black;
}

body{
    background-color: white;
}

.populares div {
    width: 100px;
    height: 100px;
    border: black solid 2px;
}

.populares {
    display: flex;
    justify-content: space-around;
}

.basadoenhechosreales div {
    width: 100px;
    height: 100px;
    border: black solid 2px;
}

.basadoenhechosreales {
    display: flex;
    justify-content: space-around;
}

.comedia div {
    width: 100px;
    height: 100px;
    border: black solid 2px;
}

.comedia {
    display: flex;
    justify-content: space-around;
}

.romance div {
    width: 100px;
    height: 100px;
    border: black solid 2px;
}

.romance {
    display: flex;
    justify-content: space-around;
}

.accion div {
    width: 100px;
    height: 100px;
    border: black solid 2px;
}

.accion {
    display: flex;
    justify-content: space-around;
}

.suspenso div {
    width: 100px;
    height: 100px;
    border: black solid 2px;
}

.suspenso {
    display: flex;
    justify-content: space-around;
}

.terror div {
    width: 100px;
    height: 100px;
    border: black solid 2px;
}

.terror {
    display: flex;
    justify-content: space-around;
}

body {
    background-color: antiquewhite;
} 
