.header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background: linear-gradient(to right, aqua, violet);
    border: 2px;
    text-align: center;
    margin-top: 0px;
    border: black solid 2px;
    padding-top: 0px;
    padding-inline-start: 0px;
  
}




h1{
    font-size: 80px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-color: black;
}



section{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    background: black;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
section div .despeli{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid black 2px;
    width: 200%;
    height: 100px; 
    padding: 10px;
}