.header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: aqua;
    border: 2px;
    text-align: center;
    margin-top: 0px;
    border: black solid 2px;
    padding-top: 0px;
    padding-inline-start: 0px;
}

h1 {
    font-size: 90px;
}

section{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    align-items: initial;
    list-style-type: none;
}

section div ul {
    list-style-type: none;
    display:flex;
    justify-content: center;
    padding-top: 20px;    
}