.header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: black;
    border: 2px;
    text-align: center;
    margin-top: 0px;
    border: white solid 2px;
    padding-top: 0px;
    padding-inline-start: 0px;
}

h1 {
    font-size: 90px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-color: antiquewhite;
}

.header ul a{
    text-decoration: none;
}

.cajas div {
    width: 200px;
    height: 250px;
    border: black solid 2px;
}

.cajas {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-size: 40px;
}

.generos img {
    height: 100%;
    width: 100%;
}

.footer img {
    height: 30px;
    width: 30;
}

.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    background: black;
    border: 33px;
    text-align: start;
    margin-top: 60px;
    border: black solid 2px;
    padding-inline-start: 30px;
    padding-bottom: 160px;
    padding-top: 10px;
}