.header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background: aqua;
    background: linear-gradient(to right, aqua, lime);
    border: 2px;
    text-align: center;
    margin-top: 0px;
    border: black solid 2px;
    padding-top: 0px;
    padding-inline-start: 0px;
  
}




h1{
    font-size: 90px;
    
}
body{
    background-color: black;
}



section{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    background: aqua;
    background: linear-gradient(to right, aqua, lime);
    padding-left: 10px;
    padding-right: 10px;
}
section div .despeli{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid black 2px;
    width: 200%;
    height: 100px; 
    padding: 10px;
}